p
{
  color: blue
}
h3{
  color:red;
}

#college{
  color:green;
  background-color: red;
  margin:50px;
  padding: 50px;
}
.from-div{
  background-color:green;
  padding-right: 330px;
}
